/*
Primary Colour: Blue
Secondary Colour: Light Blue

These colours were chosen because:
 - Blue represents stability, peace calm
*/

/*
  gives "all" 0 margin and 0 padding
*/
* {
  margin: 0;
  padding: 0;
}
/*
  puts a margin around the whole website and adds colour to the background
*/
body {
  margin: 3px;
  background-color: #68b1ff23;
  font-weight: normal;
  font-style: normal;
}
/*
  defines the colours used in the header
*/
header {
  background: #121212;
  color: #ebebeb;
}

/*
  defines the properties of the logo
*/
#logo {
  /*
    Causes the logo to be left
  */
  float: left;
  width: 66.9px;
  height: 52px;
  /*
    puts padding at the top and bottom
  */
  padding: 30px 0 0 30px;
}
/*
  defines the properties of h1
*/
h1 {
  /*
    puts 30 pixels of pading on all sides
  */
  color: #ebebeb;
  padding: 30px;

  /*
    Defines the style of the H1
  */
  text-align: center;
  font-size: 46px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

h2 {
  text-align: center;
  font-size: 26px;
}
/*"Page Title" transform credit: https://blog.hubspot.com/website/css-animation-examples*/
.page-title::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.page-title:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.page-title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #003cff8a;
  z-index: -1;
  transition: transform 0.3s ease;
}
html {
  block-size: 100%;
  inline-size: 100%;
}

.page-title {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 9px 27px;
  margin: 1% 0% 2% 44.25%;
}
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-size: 20px;
  line-height: 140%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*defines the properties of the ul inside the nav only*/
nav > ul {
  /*used for arranging elements and making them responsive*/
  display: flex;
  /*
    The justify-content property aligns the flexible container's 
    items when the items do not use all available space
  */
  justify-content: space-between;
  width: 100%;
  background-color: #ebebeb;
  font-family: "Arial Narrow", Arial, sans-serif;
}

/*class for all the links in the nav*/
.nav-link:link,
.nav-link:visited {
  background-color: #121212;
  color: #ebebeb;
  text-decoration: none;

  font-size: 24px;
  text-align: center;
  display: block;
  padding: 15px 0;
  margin: 2.5px 0 0 0;
  width: calc(calc(100% / 6) - 2.5px);

  list-style-type: none;

  -o-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
  border: #4d76ff solid 3px;

  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*defines the properties of the Footer*/
footer {
  padding: 2% 3% 3% 3%;
  background: #121212;
  color: #ebebeb;
  font-size: 20px;
}
/*
  defines that the anchors should not have any decoration (such as an underline 
  or undefined coloring)
*/
a {
  text-decoration: none;
}

/*defines the properties of the paragrapgh in the footer*/
footer > p {
  text-align: center;
  margin-right: 35%;
  float: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer > a {
  float: left;
  padding: 0.5%;
}
/*
  The @media rule is used in media queries to apply different 
  styles for different media types. in this case its being used 
  to set a max width
*/
@media only screen and (max-width: 600px) {
  nav > ul {
    /*turns nav into columns once it has reached the max width*/
    flex-direction: column;
  }
  /*defines that nav-link is 100% of the screen*/
  .nav-link:visited,
  .nav-link:link {
    z-index: 0;
    width: 100%;
  }

  nav {
    position: static;
  }
}

/*"Back To Top" Credit Mr.Hardman*/
#back-to-top {
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*      
    By defining the width and height equally and using a
    border-radius that is half of the width and height, we        
    create a perfectly circular back-to-top button.      
  */
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /*         Defines a radial gradient for this circular back to top        button. where the first colour #3f2b96 is in the center         of the circular area and goes to #a8c0ff on the outer        edges.      */
  background: -o-radial-gradient(#003cffb4, #a8d1ff);
  background: -moz-radial-gradient(#003cffb4, #a8d1ff);
  background: -webkit-radial-gradient(#003cffb4, #a8d1ff);
  background: radial-gradient(#003cffb4, #a8d1ff);
  color: whitesmoke;
  text-shadow: 0px 1px 1px #121212, 0px 1.5px 1px #121212;
  text-decoration: none;
  text-align: center;
}
