header {
  position: relative;

  background: #121212;
  color: white;
}

#logo {
  float: left;
  width: 66.9px;
  height: 52px;

  padding: 30px 0 0 30px;
}

h1 {
  margin: 0;
  padding: 30px;

  text-align: center;
  font-size: 45px;
}

nav ul {
  padding: 0;
}

.nav-link {
  display: inline-block;

  margin: 20px 0 0 -4px;
  border-top: white solid 2px;
  border-right: white solid 2px;
  padding: 15px 30px;

  background-color: #121212;
  color: #eeffee;
  text-decoration: none;
  font-size: 24px;
}

.nav-link:first-child {
  margin-left: 00px;
}

.nav-link li {
  display: inline-block;
}

body {
  background-color: #ededed;
}

footer {
  padding: 15px;
  background: #121212;
  color: rgb(235, 235, 235);
  font-size: 20px;
  text-align: center;
}
