* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}

header {
  background: #121212;
  color: white;
}

#logo {
  float: left;
  width: 66.9px;
  height: 52px;
  padding: 30px 0 0 30px;
}

h1 {
  padding: 30px;

  text-align: center;
  font-size: 45px;
}

nav {
}

nav > ul {
  display: flex;
  background-color: white ;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  background-color: #121212;
  color: #eeffee;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  display: block;
  padding: 15px 0;
  width: calc(calc(100% / 6) - 2.5px);
  margin: 2.5px 0 0 0;
  list-style-type: none;
}

body {
  background-color: #ededed;
}

main > img {
  width: 100%;
}

footer {
  padding-bottom: 15px;
  padding-left: 25px;
  background: #121212;
  color: rgb(235, 235, 235);
  font-size: 20px;
}

a {
  text-decoration: none;
}

footer > a > img {
  text-align: left;
  margin-bottom: -28px;
  padding-left: 5px;
}

footer > p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  nav > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
  }
}