/*gives "all" 0 margin and 0 padding*/
* {
  margin: 0;
  padding: 0;
}
/*puts a margin around the whole website and adds colour to the background*/
body {
  margin: 3px;
  background-color: #ebebeb;
}
/*defines the colours used in the header*/
header {
  background: #121212;
  color: #ebebeb;
}
#h1-link {
  text-decoration: none;
  color: #ebebeb;
}
/*defines the properties of the logo*/
#logo {
  /*Causes the logo to be left*/
  float: left;
  width: 66.9px;
  height: 52px;
  /*puts padding at the top and bottom*/
  padding: 30px 0 0 30px;
}
/*defines the properties of h1*/
h1 {
  /*puts 30 pixels of pading on all sides*/
  padding: 30px;

  text-align: center;
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

h2 {
  padding-top: 2%;
  text-align: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}
h3 {
  text-align: center;
  font-size: 26px;
}
main {
  line-height: 140%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-size: 20px;
}
/*defines the properties of the ul inside the nav only*/
nav > ul {
  /*used for arranging elements and making them responsive*/
  display: flex;
  /*
    The justify-content property aligns the flexible container's 
    items when the items do not use all available space
  */
  justify-content: space-between;
  width: 100%;
  background-color: #ebebeb;
}
/*class for all the links in the nav*/
.nav-link:link,
.nav-link:visited {
  background-color: #121212;
  color: #ebebeb;
  text-decoration: none;

  font-size: 24px;
  text-align: center;
  display: block;
  padding: 15px 0;
  width: calc(calc(100% / 6) - 2.5px);
  margin: 2.5px 0 0 0;
  list-style-type: none;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
}

/*defines the properties of the Footer*/
footer {
  padding-bottom: 15px;
  padding-left: 25px;
  background: #121212;
  color: #ebebeb;
  font-size: 20px;
}
/*
  defines that the anchors should not have any decoration (such as an underline 
  or undefined coloring)
*/
a {
  text-decoration: none;
}
/*defines the properties of the images in the anchors located in the footer*/
footer > a > img {
  text-align: left;
  margin-bottom: -45px;
  padding-left: 5px;
}
/*defines the properties of the paragrapgh in the footer*/
footer > p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
}
/*
  The @media rule is used in media queries to apply different 
  styles for different media types. in this case its being used 
  to set a max width
*/
@media only screen and (max-width: 600px) {
  nav > ul {
    /*turns nav into columns once it has reached the max width*/
    flex-direction: column;
  }
  /*defines that nav-link is 100% of the screen*/
  .nav-link {
    width: 100%;
  }
}
